#background{ /*  Cor de background*/
    background: #5200b1;
}
.centrealizar{ /* Div para centrealizar e colocar em coluna */
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}
.divTitulo{ /* Div para titulos */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 35px;
    box-shadow: 4px 4px 3px #220051;
}
.botao{ /* Botões */
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01e5b2;
    font-size: 20px;
    font-family: sans-serif;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 35px;
    box-shadow: 4px 4px 3px #220051;
}
.botao:hover{ /* Hover do botão */
    cursor: pointer;
}
textarea:focus, input:focus, select:focus{ /* Tirar borda azul */
    outline: 0;
}
.texto{ /* Textos em geral */
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}
.textbox{ /* Caixa de texto*/
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 25px;
    box-shadow: 4px 4px 3px #220051;
}
.midia{ /* Imagens e Videos*/
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #220051;
}
.divLongo{
    overflow: scroll;
    height: 200px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #220051;
}