.header{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    font-size: 25px;
    font-family: sans-serif;   
}
.centrealizar{ /* Div para centrealizar e colocar em coluna */
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}
/* Elementos gerais */
button, input[type=button], input[type=submit], input[type=reset], .divLongo,input[type=tel], input[type=text], .divTitulo{
    font-size: 15px;
    font-family: sans-serif;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 35px;
    box-shadow: 4px 4px 3px #220051;
}
.divTitulo{ /* Div para titulos */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
button, input[type=button], input[type=submit], input[type=reset]{ /* Botões */
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01e5b2;
}
.botao:hover{ /* Hover do botão */
    cursor: pointer;
}
textarea:focus, input:focus, select:focus, button{ /* Tirar borda azul */
    outline: 0;
}
.texto{ /* Textos em geral */
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}
input[type=text], input[type=tel]{ /* Caixa de texto*/
    border: 1px solid white;
    text-align: center;
    color: white;
}
.midia{ /* Imagens e Videos*/
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #220051;
}
.divLongo{
    overflow: scroll;
    height: 200px;
    font-size: 12px;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}
p{
    align-self: flex-start;
    margin-left: 10%;
}