#container{
    text-shadow: 3px 2px black;
    color: white;
    background: rgb(35, 79, 160);
}
#header{
    line-height: 35px;
    width: 100%;
    height: 150px;
    margin: 0%;
    text-align: center;
}
#divE{
    position: relative;
    border-width: 2px;
    width: 250px;
    height: 250px;
    float: left;
    left: 350px;
}
#divD{
    position: relative;
    border-width: 2px;
    width: 250px;
    height: 250px;
    right: 350px;
    float: right;
}
.group::before,
.group::after{

    content: "";
    display: table;
}
.group::after{
    clear: both;
}
.group{
    zoom: 1;
}
.textbox{
    border: 2px solid #456879;
    border-radius: 10px;
    height: 22px;
    width: 230px;
}
.botao{
    margin-top: 25px;
    margin-left: 575px;
    border-radius: 10px;
    border: 2px solid #456879;
    height: 30px;
    width: 100px;
}