#container{
    border-radius: 300px;
    border-width: 5px;
    color: white;
    background: #5200b1
}
#header{
    line-height: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.botao{
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #01e5b2;
    font-size: 20px;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 35px;
    box-shadow: 4px 4px 3px #220051;
    margin-top: 40px;
}
#div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;  
}
.textbox{
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 15px;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 25px;
    box-shadow: 4px 4px 3px #220051;
}
.botao:hover{
    cursor: pointer;
}
textarea:focus, input:focus, select:focus{
    outline: 0;
}
.texto{
    color: white;
    font-size: 15px;
    align-self: flex-start;
    margin-left: 5%;
}
.divTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    background: #111111;
    width: 80%;
    border-radius: 10px;
    height: 35px;
    box-shadow: 4px 4px 3px #220051;
    margin-top: 25px;
    margin-left: 10%;
}